<div class="col-md-4">
  <div class="row">
    <form class="log_in">
      <h2>Login</h2>
      <hr>
      <div class="form-group">
        <label for="exampleInputEmail1">Email:</label>
        <input type="email" id="email-input">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password:</label>
        <input type="password" id="password-input">
      </div>
      <hr>
      <button type="submit">Login</button>
      <p>...or sign up <a data-toggle="modal" class="a" data-target="#staticBackdrop">here!</a>
      </p>
    </form>
  </div>
  &nbsp;
  <div class="row">
    <p class="log_in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur blanditiis illum nesciunt
      ipsum itaque dolore, inventore iusto beatae deleniti voluptatibus officia culpa autem soluta magni necessitatibus
      sint ad quos iure!</p>
  </div>
</div>


<!-- Modal -->
<div class="modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>Sign Up Form</h1>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form class="signup">
              <div class="user_info container">
                {{!-- for="exampleInputEmail1" --}}
                <label class="col-sm-5">First Name:</label>
                <input class="col-sm-6" type="text" id="first-name-input">
                <br>
                <label class="col-sm-5">Last Name:</label>
                <input class="col-sm-6" id="last-name-input">
                <br>
                <label class="col-sm-5">Address:</label>
                <input class="col-sm-6" id="address-input">
                <br>
                <label class="col-sm-5">City:</label>
                <input class="col-sm-6" id="city-input">
                <br>
                <label class="col-sm-5">State:</label>
                <input class="col-sm-6" id="state-input">
                <br>
                <label class="col-sm-5">Zip:</label>
                <input class="col-sm-6" id="zip-input">
                <br>
                <label class="col-sm-5">Phone #:</label>
                <input class="col-sm-6" id="phone-input">
              </div>
              <hr>
              <div class="user_info">
                <label class="col-sm-5">EMAIL:</label>
                <input class="col-sm-6" id="email-input">
                <label class="col-sm-5">USERNAME:</label>
                <input class="col-sm-6" id="username-input">
                <label class="col-sm-5">PASSWORD:</label>
                <input class="col-sm-6" id="password-input">
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
              </div>
              <button type="submit" value="submit" form="signup" class="col-sm-8 col-sm-offset-2">Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>