     <div class="col-md-4">
        <div class="row">
          <form class="log_in">
            <h2>Welcome, _____</h2>
            <hr>
        </div>
        &nbsp;
        <div class="row">
          <p class="log_in">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur blanditiis illum nesciunt ipsum itaque dolore, inventore iusto beatae deleniti voluptatibus officia culpa autem soluta magni necessitatibus sint ad quos iure!</p>
        </div>
      </div>