<header>
  <h1>You Shouldn't Have ...</h1>
</header>
<div class="container">
  <div class="row">
    <!--If logged in-->
    <!--Go to sidebar_loggedin.handlebars-->
    <!--else-->
    {{> sidebar }}
    <div class="col-md-8 sign_in db">

    </div>
  </div>
</div>