body{
  font-family: 'Varela Round', sans-serif;
  color: black;
}

.head {
  border: solid;
  height: 100px;
  text-align: center;
  font-size: xx-large;
  padding: 30px;
  background-color:rgb(247, 240, 181);
}

.login_form {
  border: solid;
  border-color: black;
  text-align: center;
  font-size: x-large;
  padding: 20px;
  padding-top: 10px;
}

.input_box{
  width: 100%;
}

.buttons {
  float: right;
  font-size: medium;
  margin-top: -50px;
}

.well {
  text-align: center;
  height: 150px;
  border: solid;
  border-color: black;
}

.icon{
  width: 40px;
  height: 40px;
}

.button {
  border: solid;
  background-color: rgb(247, 240, 181);
  color: black;
  padding: 10px;
  font-size: larger;
}

.float{
  float: left;
}

.button-float{
  float: right;
}